<div class="container espaco"></div>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a routerLink="/categoria"><img alt="Cadastrar Produtos"
				src="./assets/box.png">
				<p>Cadastro</p> </a>

		</div>
		<div class="col-6">
			<a routerLink="/produto"><img alt="Cadastrar Produtos"
				src="./assets/cogs.png">
				<p>Gerenciamento</p> </a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a routerLink="/detalhe"> <img alt="Cadastrar Produtos"
				src="./assets/cart.png">
				<p>Vendas</p>
			</a>
		</div>
	</div>
</div>
